@model LibraryManagmentSystemFinal.FINE

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FINE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LOAN_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LOAN_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FINE_AMT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FINE_AMT)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Pay", "Payment", new { id = Model.BOOK_LOANS.CARD_ID, loan = Model.LOAN_ID, fine = Model.FINE_AMT}) |
    @Html.ActionLink("Back to List", "Index")
</p>
